[2019-01-09 13:37] theSage21 opened #2 "Showing the submission page"
The web server must show a HTML page which has the following:

- place to show a question statement
- link to download the test input data
- a form to upload their output file

How to solve
----------------

- Fork this project. You can see a Fork button on the top right of this project page.
- Use the [Bottle](https://bottlepy.org) framework to do this since it's very simple to use. Put your code

[2019-01-09 13:40] theSage21 opened #3 "Providing the input file for download"
A participant must be able to download an input file related to the question. She will then run her program on this input file and produce an output file according to the question's instructions.

The web server must be able to supply this file when the participant asks for it by clicking on the link mentioned in #2

How to solve
----------------

- Fork this project. You can see a Fork button on

[2019-01-09 13:54] theSage21 opened #4 "Accepting a participant's output file"
We need a place for the participant to upload her program's output. We should be able to accept a plain text file from the form mentioned in #2

On accepting the file, we have to compare it to a known output file and tell the user if the output was correct or not.

How to solve
----------------

- Fork this project. You can see a Fork button on the top right of this project page.
- Use the [Bottle

[2019-01-09 13:57] theSage21 opened #5 "A sample question must be written along with sample input and expected output files"
We need a sample question. The question statement must be included either in the HTML in #2 or in another file (maybe named `statement.txt`) and combined with the template feature in the Bottle framework.

A nice question I like is "Given a file which has numbers on every line, generate a file which has the squares of those numbers on corresponding lines"

How to solve
----------------

- Fork thi

[2019-01-13 09:09] yashj13 commented on #3
@theSage21,i want to take this issue, can i start working on it?

[2019-01-13 09:09] Shivank98 commented on #5
@theSage21 I would like to take this.

[2019-01-13 10:06] arnabsinha99 commented on #4
I am up for #4

[2019-01-13 10:32] theSage21 commented on #3
Sure sure!

On Sun 13 Jan, 2019, 14:39 YASH JAIN <notifications@github.com wrote:

[2019-01-13 10:32] theSage21 commented on #5
Please go ahead.

On Sun 13 Jan, 2019, 14:39 Shivank98 <notifications@github.com wrote:

[2019-01-13 10:33] theSage21 commented on #4
Wonderful!

On Sun 13 Jan, 2019, 15:36 Arnab Sinha <notifications@github.com wrote:

[2019-01-13 10:33] theSage21 commented on #2
Awesome!

On Sun 13 Jan, 2019, 15:59 Shubhi Rustagi <notifications@github.com wrote:

[2019-01-13 16:36] kirtibajaj opened #12 "Understanding working with bottle"

[2019-01-13 16:40] kirtibajaj commented on #12
Bottle is a fast, simple and lightweight WSGI micro web-framework for Python. It is distributed as a single file module and has no dependencies other than the Python Standard Library.

Routing: Requests to function-call mapping with support for clean and dynamic URLs.
Templates: Fast and pythonic built-in template engine and support for mako, jinja2 and cheetah templates.
Utilities: Convenient acc

[2019-01-13 17:43] rustagishubhi commented on #2
Can I add bootstrap files along with HTML file so as to add the CSS to the page?

[2019-01-14 06:21] theSage21 commented on #2
this is the first phase. Let's keep it simple for now. Vanilla CSS is ok but a full heavyweight framework like bootstrap will take away the opportunity to learn things.

[2019-01-14 06:25] theSage21 opened #13 "Move sample input file to the format suggested in #11"
The merge request for the question in #11 makes a folder and moves the question as a file in that folder. Let's keep the input file, output file, question statement in the same folder?

[2019-01-14 06:32] theSage21 commented on #2
@rustagishubhi are you working in collaboration with @Shivank98 ? If you have some code do submit it for review please

[2019-01-14 07:19] theSage21 commented on #12
Bottle is what is called a Web Server Gateway Interface (WSGI) framework. Let's take  a tour through the Internet.

- when people first discovered that you could transfer files between computers they did it like they did any other thing. Via foot. Someone wrote a file to a floppy disk and then walked/drove to a friend's house and delivered the floppy. This was called sneaker-net (if it was first d

[2019-01-14 09:32] theSage21 commented on #13
For example, the following  standard structure could be used:

[code]

[2019-01-14 10:11] #2 closed

[2019-01-14 10:18] arnabsinha99 commented on #4
Is there any other source, Just for additional reference , to refer for Bottle framework other than the documentation? @theSage21

[2019-01-14 17:26] #5 closed

[2019-01-14 17:46] theSage21 commented on #13
Steps to solve
-----------------

Currently the folder structure looks like so:

[code]

Here the statement for question one is present in `index.html` and `server.py` files. Input data for the question is in `files/questions/inputs1.txt`

Let's put the statement HTML, input file, and output file (this is not yet present) for question 1 in the folder `files/questions/1/`. Let us call these files s

[2019-01-14 17:50] theSage21 commented on #3
@yashj13 I think this was solved in #11 in the `/question/<number>/download` url. You can close the issue if you agree.

[2019-01-14 17:56] theSage21 opened #17 "Serve the css file for the statement page"
The question statement page requires css files. Those files are not served by the server at the moment. We need to provide the css files just like we are providing the inputs for the questions. Maybe we can move both static files like css and input files to a single folder and serve that folder location?

[2019-01-14 18:00] theSage21 opened #18 "Add link for PyJudge telegram group in README"
A link needs to be added to the README which points to the PyJudge telegram group

[2019-01-15 03:59] arnabsinha99 commented on #18
I am on it. Where exactly do I need to add it?

[2019-01-15 04:06] arnabsinha99 commented on #18
Could I have the link for the Pyjudge telegram group?

[2019-01-15 04:12] theSage21 commented on #18
You can put it right next to the PyJaipur link.

[2019-01-15 04:16] arnabsinha99 commented on #18
Kindly review the changes.

[2019-01-15 05:10] theSage21 opened #20 "Pull request template"
Since people are opening pull requests now, it's becoming irritating to manually close issues which the PR solves. A Pull request template will solve this.

Refer to [github docs on PR templates](https://blog.github.com/2016-02-17-issue-and-pull-request-templates/) and add a template. The template should ask the person to mention the issue that they are trying to solve. Then when the PR is merged,

[2019-01-15 05:12] #18 closed

[2019-01-15 05:13] theSage21 commented on #17
That sounds good

[2019-01-15 11:36] MPathak00 commented on #13
I want to take this issue

[2019-01-15 11:58] soumilk commented on #20
I want to take this issue

[2019-01-15 12:23] #3 closed

[2019-01-15 12:39] theSage21 commented on #4
@arnabsinha99 any updates?

[2019-01-15 12:50] arnabsinha99 commented on #4
I have started to understand what Bottle is and some syntaxes.. I will soon do it as I need some more time.

[2019-01-15 12:55] anjalijain1998 commented on #20
I also want to work on this issue

[2019-01-15 13:13] theSage21 commented on #4
Wonderful!

On Tue 15 Jan, 2019, 18:20 Arnab Sinha <notifications@github.com wrote:

[2019-01-15 13:14] theSage21 commented on #20
maybe one of you could a pull request template and another one could do an issue template?

[2019-01-15 13:16] anjalijain1998 commented on #20
sure i am going for pull request template

[2019-01-15 14:02] jayeshchoubisa commented on #17
It should not send that file to server.py . it is instantiated only with that input page.

[2019-01-15 14:15] theSage21 commented on #17
I don't understand. could you be a little more clear?

[2019-01-15 15:26] soumilk commented on #20
@theSage21  please clarify Issue template? How this template is supposed to !

[2019-01-15 15:51] theSage21 commented on #20
You can have a simple issue template like so:

1. Please define your issue clearly
2. Add a label if it is appropriate

[2019-01-15 17:53] soumilk commented on #20
ohk ... got it

[2019-01-16 06:19] arnabsinha99 commented on #12
1) `path = os.path.abspath(__file__)`

What does `__file__` in the above line do? Also, I read that abspth() returns an absolutized version of pathname "path". What does absolutized mean?

2) `@app.route('/hello/<something>')`
`def index(something):`
`return template('<b>Hello My Name is {{something}}</b>', something = 'Shivank')`

This is a snippet of @Shivank98 's code of server.py . There is no

[2019-01-16 07:35] theSage21 commented on #12
1. I think you are talking about [server.py#L4](https://github.com/PyJaipur/PyJudge/blob/master/server.py#L4).
    -  Python has a few inbuilt variables. When you run a file with `python server.py`, a variable called `__file__` is created which holds the location of the file that you are running.
    - Paths in most operating systems start at some top level. `C:\System\something\something\Desktop`

[2019-01-16 14:13] jayeshchoubisa commented on #4
@arnabsinha99 has you done with the issue. I am also trying to merge the code but having some issues.

[2019-01-16 14:42] theSage21 commented on #4
Merge? Is there a pull request?

Also if you are having problems ask here

[2019-01-16 14:43] arnabsinha99 commented on #4
Have you continued with the same code after the "server.py" file that is already made or have you made a new "server.py" file ?

[2019-01-16 14:44] arnabsinha99 commented on #4
@theSage21 In the "Browse files" button, the user has to submit only the produced output that he/she has got right? Do we have to accept the code as well?

[2019-01-16 15:13] theSage21 commented on #4
no. only the output file that they have produced

[2019-01-16 15:16] theSage21 commented on #20
@anjalijain1998 we will keep the issue open until you submit a PULL_REQUEST template code change. Please make sure to remind people to refer to issue in the PR so that they will be auto closed. [reference](https://blog.github.com/2013-05-14-closing-issues-via-pull-requests/)

[2019-01-16 15:18] theSage21 commented on #13
@MPathak00 do you need help?

[2019-01-16 15:44] arnabsinha99 commented on #4
Where do I store the file that we are accepting?

[2019-01-16 16:59] jayeshchoubisa commented on #4
I am confused with one thing are we using any platform to run the code and check the correctness.

[2019-01-16 17:00] theSage21 commented on #4
no need to store it. Just like we have the question's input file, we need one expected output file also. The file that the user uploaded we just have to read that, compare to the expected file and return if thy are equal or not.

Maybe something like:

[code]

[2019-01-16 17:00] theSage21 commented on #4
In this project we are not running code. We are simply checking if output supplied matches expected output. In later sprints we will be running code also (Java / C) etc.

[2019-01-16 17:01] theSage21 commented on #4
By project I mean https://github.com/PyJaipur/PyJudge/projects

[2019-01-16 17:02] jayeshchoubisa commented on #4
yeah okay

[2019-01-16 17:02] jayeshchoubisa commented on #4
has you got executed with it.

[2019-01-16 17:05] theSage21 commented on #4
मतलब?

[2019-01-16 17:05] jayeshchoubisa commented on #4
has you got executed with this commit.

[2019-01-16 17:06] jayeshchoubisa commented on #4
has you got executed with it.

[2019-01-16 17:07] jayeshchoubisa commented on #4
tumne issue resolve kar diya with function for submit

[2019-01-16 17:08] arnabsinha99 commented on #4
I am on it. It is completely new and I am getting the hang of it slowly.

[2019-01-16 17:09] jayeshchoubisa commented on #4
same here .

[2019-01-16 17:24] theSage21 commented on #4
Lage raho. Koi sawaal ho toh yahan puch lena.

[2019-01-17 14:02] anjalijain1998 commented on #20
@theSage21 sir I have made this file but now what I have to do ?
please check it and let me know if I have done it correct or not!!

[PULL_REQUEST_TEMPLATE.md.txt](https://github.com/PyJaipur/PyJudge/files/2768937/PULL_REQUEST_TEMPLATE.md.txt)

[2019-01-17 15:25] theSage21 commented on #20
Please don't call me sir. Arjoonn or @theSage21 is fine.

The file looks wonderful :+1:

Open up a Merge request

[2019-01-17 17:24] anjalijain1998 commented on #20
ohk sure

[2019-01-18 01:44] theSage21 commented on #4
Are you tying to push to this repository?

You have to fork this, push to your repo and then open a merge request.

There are a lot of tutorials on the internet regarding this.

https://github.com/PyJaipur/PyJaipur-first-PR

[2019-01-18 06:54] arnabsinha99 commented on #4
I had forked the original repo by mistake even though I was aware of the steps. I apologize for the inconvenience.  I have made a pull request recently. Kindly review it. Thanks @theSage21

[2019-01-18 07:15] theSage21 commented on #4
no problem. :+1:

[2019-01-18 09:03] theSage21 commented on #4
#24 fixed this

[2019-01-18 09:03] #4 closed

[2019-01-18 09:09] theSage21 opened #25 "Avoid file write in user output checking"
In [the file upload code](https://github.com/PyJaipur/PyJudge/blob/master/server.py#L35-L51), the uploaded file is written to filesystem. We can avoid that by simply accessing the string directly using `request.files.get('upload').file.read()` and comparing that to the expected output.

The expected file is read every time the URL is called. We can read the file once and store the expected string

[2019-01-18 11:16] arnabsinha99 commented on #25
I'll have a try at this one since this is an extension to my previous submission.

[2019-01-18 11:48] theSage21 commented on #25
Awesome

On Fri 18 Jan, 2019, 16:46 Arnab Sinha <notifications@github.com wrote:

[2019-01-18 13:09] theSage21 opened #26 "Record which user uploaded an output"
Right now people can upload output and know if it was correct or not. We now need to record who uploaded the output. So, the following changes need to be made:

- add a username field in the HTML upload form
- receive the username in the upload API

[2019-01-18 13:12] theSage21 opened #27 "Fill out expected output for sample question"
The expected output in the sample question has nothing in it. It needs to have correct outputs.

[2019-01-18 13:13] theSage21 opened #28 "Record history of all user's attempts"
As users attempt questions, we need to record their attempts somehow. For now, we must store the attempts in a list. The information to store can be `username, correct_or_not, question_number`

[2019-01-18 13:16] theSage21 opened #29 "Multiple questions ability"
The system must be able to show multiple questions. Thus the HTML must have a variable part which has the question in it. Refer to Bottle's documentation on the template system. We will be using that.

During attempts also, there must be a field which mentions which question the person is attempting so that the given output can be checked against the correct "expected.txt" file.

[2019-01-18 13:17] theSage21 opened #30 "Ranking / Leaderboard"
A new URL must be written along with corresponding HTML page to display the user's ranking. The ranking must be calculated on some scoring system (for example how many questions have you correctly attempted?).

this ranking must display the user's names and their rank.

[2019-01-18 13:40] MPathak00 commented on #13
Do I need to use file handling for the issue?

On Wed, Jan 16, 2019 at 8:48 PM Arjoonn Sharma <notifications@github.com>
wrote:

[2019-01-18 14:54] theSage21 commented on #13
You just have to copy par the files, rename properly and commit.

Then make changes in server.py

[2019-01-18 16:19] arnabsinha99 commented on #26
After taking the username, we should be storing it somewhere right? Like a database with usernames and their respective submissions. What type of data structure are we aiming for in that case?

[2019-01-18 19:12] arnabsinha99 commented on #26
I am on it. Will try and solve this tomorrow.

[2019-01-19 03:35] arnabsinha99 commented on #27
I have sent a pull request regarding the same.

[2019-01-19 05:12] theSage21 commented on #27
You can just mention this issue in the pull request description. Github will automatically link the two.

[2019-01-19 05:12] piyushagarwal08 commented on #30
I want to try this issue.. but as a beginner can I get guidance (step by step)? Something by which I would know what I am supposed to do.(note:never worked over such an project previously)

[2019-01-19 05:16] theSage21 opened #34 "Ranking / Leaderboard HTML page"
An HTML page needs to be written to show the ranking generated in #30

[2019-01-19 05:38] #25 closed

[2019-01-19 05:39] theSage21 commented on #27
Fixed in #33

[2019-01-19 05:39] #27 closed

[2019-01-19 05:40] theSage21 opened #35 "Remove testing code"
The code present in [these lines](https://github.com/PyJaipur/PyJudge/blob/master/server.py#L12-L14) is not relevant to the software we are trying to build. It needs to be removed.

[2019-01-19 05:42] theSage21 commented on #35
The [commented out code](https://github.com/PyJaipur/PyJudge/blob/master/server.py#L20-L26) can also be removed.

[2019-01-19 07:16] HeroicHitesh commented on #35
I want to solve this issue

[2019-01-19 07:17] HeroicHitesh commented on #35
I think in this issue we just need remove the unwanted lines of code and comments and post the remaining code as it is.
If I am wrong then please do correct me.

[2019-01-19 08:07] #35 closed

[2019-01-19 08:30] Shivank98 commented on #28
I would like to work on it. will work on it from the night.

[2019-01-19 09:19] Shivank98 opened #39 "reading a file when required. discussion needed."
* **I am submitting this regarding **

	- [ ] Bug report
	- [ ] Feature request
	- [ ] Support request
	- [ ] Help request
	- [x] Discussion or tutorial wanted

* **Description of the ISSUE:**
currently, the file is read everytime server is run.
I want the file to be read only when it's required and someone is uploading his file to be checked.

[2019-01-19 10:17] Shivank98 opened #40 "test issue"
## ISSUE Template

* **I am submitting this regarding a :**

	- [ ] Bug report
	- [ ] Feature request
	- [ ] Support request
	- [ ] Help request
	- [ ] Discussion or tutorial wanted

* **Description of the ISSUE :**

* **Appropriate Label for this ISSUE would be :**

* **If a bug report, then description of the expected and present behaviour :**

[2019-01-19 10:17] #40 closed

[2019-01-19 10:19] Shivank98 opened #41 "test"
## ISSUE Template

* **I am submitting this regarding a :**

	- [ ] Bug report
	- [ ] Feature request
	- [ ] Support request
	- [ ] Help request
	- [ ] Discussion or tutorial wanted

* **Description of the ISSUE :**

* **Appropriate Label for this ISSUE would be :**

* **If a bug report, then description of the expected and present behaviour :**

[2019-01-19 10:19] #41 closed

[2019-01-19 10:34] Shivank98 commented on #28
but I will require #26. so I can have an intuition of where username is being stored.

[2019-01-19 10:41] theSage21 commented on #39
Typically, the server is run once and then it keeps on running. It is only restarted if something goes wrong or if code needs to be updated in the server.

[2019-01-19 10:44] theSage21 commented on #28
since nobody is working on that right now, you can do something like:

[code]

Then whoever works on that issue can use the same thing

[2019-01-19 10:56] theSage21 commented on #39
Yes. In future we will need multiple expected outputs. Maybe at that time
we will simply read all of them before hand and put them in a dictionary
where's the key is the question number and use that.

Or you could have a database and let that software manage when to read and
when to keep in memory.

We will be doing that in a later project. In this project we will only be
introducing multi use and

[2019-01-19 11:12] Shivank98 commented on #39
Ohk, That's a lot of space :D
* 1. another thing which I just faced is this, don't know how it got missed.
`
expected = expected.strip()
UnboundLocalError: local variable 'expected' referenced before assignment
`
while running server.py.
so we will need to add a `global expected` in `url_upload`.

* 2. it's giving 'Wrong answer' even I am submitting the right answer.
looks like we are going to nee

[2019-01-19 11:17] theSage21 commented on #39
Please feel free to open them

On Sat 19 Jan, 2019, 16:42 Shivank98 <notifications@github.com wrote:

[2019-01-19 11:19] Shivank98 commented on #39
I will positively do it in night. and i will add global expected myself.

[2019-01-19 11:26] theSage21 opened #43 "Add tests for the code"
As found out in [another discussion](https://github.com/PyJaipur/PyJudge/issues/39#issuecomment-455771059) the project is now big enough that simply reading the code during review does not ensure that it will run.

For starters a simple test file is needed which can run the server and make sure it does not crash. Later on we can add more tests.

[2019-01-19 11:43] Shivank98 commented on #28
last time i worked on something like this which require user atempts or records of action. i needed forms.
do i require it here too ?

[2019-01-19 12:10] theSage21 commented on #28
There's already a form in the submission page. Just add a field there no?

On Sat 19 Jan, 2019, 17:13 Shivank98 <notifications@github.com wrote:

[2019-01-19 16:34] Shivank98 commented on #28
test

[2019-01-19 16:36] HeroicHitesh commented on #28
@Shivank98 Ab kar skta hoon

[2019-01-19 16:55] Shivank98 commented on #28
tell me if I got it right?
do we have to count the `number_of_attempts` in a period when a server is running for a particular question?
like the number of times user uploaded the output file.

[2019-01-19 16:56] theSage21 commented on #28
For now it's ok to just add `(name, question_number, correct_or_not, time)` to a list every time someone makes an attempt

[2019-01-19 16:57] Shivank98 commented on #28
got it.

[2019-01-19 17:47] #39 closed

[2019-01-19 17:54] Shivank98 opened #44 "Our product is not giving correct output."
* **I am submitting this regarding a:**

	- [ ] Bug report

* **Description of the ISSUE:**
it's not telling the output correctly. though following part of the code looks good when we see it.
[code]

**expected and present behavior**
* I solved the question1 of adding two numbers and submitted on our platform but it's not showing the "Wrong Answer".
* I should have got "Solved! Great Job".

someon

[2019-01-20 02:17] #20 closed

[2019-01-20 09:14] Shivank98 commented on #44
[output.txt](https://github.com/PyJaipur/PyJudge/files/2776418/output.txt)

[2019-01-20 10:35] theSage21 commented on #44
Supplying this file via requests:

[code]

reproduces the bug. The problem is still there even if we supply the actual expected_output file, meaning the issue is in the python server.

The problem is there because `"arjoonn" == "arjoonn".encode()` will always give `False`

I've verified that this is indeed the problem. I will leave the actual code fix open for someone else to do.

[2019-01-20 10:46] arnabsinha99 commented on #44
@theSage21 I did not get the cause of the problem i.e. how does `"arjoon"=="arjoon".encode()` cause the problem?

[2019-01-20 10:47] theSage21 opened #47 "What all should I solve in a Pull Request?"
Sometimes it can be difficult to know what all to solve. Multiple issues can be related to each other and sometimes solving one thing can cause other issues and so on. Here are a few guiding principles. They can be broken, **but** only if a very good reason is there.

A good reason can be "This PR will fix 100 issues together with 1 line of code".

- fix only one issue in a PR
- If many issues are

[2019-01-20 10:51] theSage21 commented on #44
That is for you to figure out.  You can explore the code using print statements or a debugger if your editor/IDE provides one. If I point out why it's the cause, there will be no learning.

- Try to understand Why `'arjoonn' == 'arjoonn'.encode()` gives False
- Try to find out why this affects our code

[2019-01-20 10:52] arnabsinha99 commented on #44
Sure I will look into it. :-)

[2019-01-21 13:16] Shivank98 commented on #29
let me know where i am wrong.
* i am going to make a `question_template.tpl` which will solve this issue. but
* with this i will need below structure.
[code]

are these two steps correct ?

[2019-01-21 13:23] theSage21 commented on #29
both points look good. The `question.tpl` file contains space to show the information present in `statement.txt`?

[2019-01-21 13:38] theSage21 commented on #29
You will also need to modify `server.py` to:

- properly read expected output
- properly check uploaded output
- properly provide input and question statement

[2019-01-21 18:15] arnabsinha99 commented on #17
I am not working on #17 . Anybody is free to take up this issue!

[2019-01-21 18:19] jayeshchoubisa commented on #17
I am not able to contribute at the moment please someone take the initiative and follow along with the co members.

[2019-01-21 18:30] arnabsinha99 commented on #44
Where did you place this snippet of code? In an independent file? @theSage21

[2019-01-22 01:47] theSage21 commented on #44
yes. In an independent file

[2019-01-22 05:00] arnabsinha99 commented on #44
I use VSCode 2015. The above code, in an independent file, ran once, gave "Wrong Answer". Then on running the code once again, I got the following error:-
`ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it` .
 I searched the net but could not understand any solution that I found. Could you suggest what I can do?

[2019-01-22 05:39] theSage21 commented on #44
Is your server running? Connection errors usually happen when the server shuts down.

[2019-01-22 05:51] arnabsinha99 commented on #44
How do I check if it is running or not?

[2019-01-22 05:54] theSage21 commented on #44
How did you run it? I'm not familiar with VS Code. Wherever you ran the server file there the process should be running.

[2019-01-22 06:45] arnabsinha99 commented on #44
@theSage21 I put the file having this code in the local repository of PyJudge i.e. where `server.py` exists. I then executed the code.

[2019-01-22 06:55] theSage21 commented on #44
I'm assuming that you clicked on some button which executed the code.

Similarly, before executing this code you also have to execute the server
file. It will say something like "listening in local host:8000". Then you
know that the server is running. After that you execute this script

Location of this file does not matter since you are not importing anything
from pyjudge.

On Tue 22 Jan, 2019, 1

[2019-01-22 14:17] HeroicHitesh commented on #34
I will work on this

[2019-01-22 15:58] HeroicHitesh commented on #34
I have prepared a basic html table and posted the screenshot in telegram group. Is it what is required here or anything else?

[2019-01-22 16:35] theSage21 commented on #34
Could you post it here? Also, keep in mind that this HTML must work with the Bottle template system to get the data.

[2019-01-22 16:36] HeroicHitesh commented on #34
How to check whether it works with bottle template or not?

[2019-01-22 16:41] theSage21 commented on #34
in your screenshot there is no data in the table. To get the data you could do something like:

[code]
in the HTML. (refer to [bottle docs](https://bottlepy.org/docs/dev/tutorial.html#templates) fora actual syntax of templates)

Then to see if it works, you can create a test_lb.py file like this one:

[code]

the use your browser to go to `http://localhost:8080` to see if the table has data in it

[2019-01-24 06:53] #13 closed

[2019-01-24 06:53] #28 closed

[2019-01-24 06:53] #29 closed

[2019-01-24 18:44] cquark7 commented on #26
Hi

This commit has some issues. I submitted a new PR to fix them.

[2019-01-24 19:33] cquark7 commented on #44
I solved this issue just by adding 1 character to the existing server.py script.
My travis-ci checks are failing. Don't know what's wrong.
I created a local repo by cloning PyJudge.
Made some changes and pushed them to my fork.
Sent PR.

Please suggest some workaround.

[2019-01-25 01:43] theSage21 commented on #30
What is the difference between the two kinds of lists?

On Thu 24 Jan, 2019, 23:56 Arnab Sinha <notifications@github.com wrote:

[2019-01-25 06:38] arnabsinha99 commented on #30
[Here](https://www.codechef.com/rankings) is the site that proposed what I am talking about. The different kind of ranking lists.

[2019-01-25 07:32] theSage21 commented on #30
Sure! How do you plan to make the different rankings available to the HTML? Separate URLs? Maybe something like:

`/rankings/<style>/` can be used

[2019-01-25 07:47] arnabsinha99 commented on #30
Yeah. I mean we can make the templates and use it based on what the host decides, to make it score based or rank based. We can accept a parameter from the host of the contest which chooses between the different types of rank-lists. And as per her/his choice, we can deploy the required HTML page URL. @theSage21

[2019-01-25 08:29] theSage21 opened #59 "Multiple Ranking Systems"
Instead of just one ranking system it would be nice to be able to rank competitors using multiple ranking systems as mentioned in #30

PRs for this issue must include:

- HTML template to show the rankings
- python code to generate multiple rankings based on user attempt history

[2019-01-25 08:30] theSage21 commented on #30
Let's maintain a single ranking system in this issue. For the multiple rankings we can solve that in another issues.

[2019-01-25 11:24] arnabsinha99 commented on #59
Yeah alright. I would need help in the HTML part though.

[2019-01-25 12:01] #44 closed

[2019-01-26 07:20] Shivank98 commented on #34
@HeroicHitesh are you on it ?

[2019-01-26 08:43] HeroicHitesh commented on #34
`<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Rankings</title>
		<link rel="stylesheet" href="C:\Users\Asus\Desktop\rankingsCSS.css">
	</head>
	<body>
		<header><h1>Rankings</h1></header>
		<table>
			<tr>
				<th>User name</th>
				<th>Score of user</th>
				<th>Rank of user</th>
			</tr>
			% for name, rank, score in people :
			<tr>
				<td>{{name}}</td>
				<td>{{score}}</t

[2019-01-26 08:44] HeroicHitesh commented on #34
`body {
  font-family: "Avenir Next";
  text-align: middle;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: middle;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}`
And this is css code

[2019-01-26 08:44] Shivank98 commented on #34
so you are on it na ?

[2019-01-26 08:45] theSage21 commented on #34
please don't paste code here. Open up a merge request

[2019-01-26 08:45] HeroicHitesh commented on #34
Please check if it works fine with Bottle template system.

[2019-01-26 08:46] HeroicHitesh commented on #34
I tried but it didn't worked. I don't know if fault is in code or the way I tried.

[2019-01-26 08:47] theSage21 commented on #34
Open a merge request so we can see what you tried

[2019-01-26 08:48] HeroicHitesh commented on #34
I am not sure if it's correct code So should open a merge request or not?

[2019-01-26 09:32] theSage21 opened #62 "Use template inheritance to reuse code between ranking and question html"
The question and ranking HTML both define some common things (like HTML, HEAD, BODY).
We can move the common things into a `base.html` file and use that in both `question.html` and `rankings.html`. See [bottle template functions](https://bottlepy.org/docs/dev/stpl.html#template-functions) to understand how to do this.

Final folder structure can look like:

[code]

[2019-01-26 09:32] HeroicHitesh commented on #17
Can I try this 1 out?

[2019-01-26 09:36] theSage21 commented on #17
Sure! Go ahead! The final thing will look something like [these lines](https://github.com/PyJaipur/PyJudge/blob/master/server.py#L33-L35)

[2019-01-26 13:04] Shivank98 opened #65 "Update readme with details on how to run software on your local."
I found this one missing from our README.md. and I think it is very important to have if anyone new would like to contribute. so it would be great if we can update readme for that.

[2019-01-26 13:47] Shivank98 commented on #43
do we still need it?
i can work on it.

[2019-01-26 13:50] Shivank98 commented on #43
ok then, I am on it.  do I need to keep something in mind for the approach ? as i don't have any experience with travis or circle, just little bit of unit tests.

[2019-01-26 13:54] theSage21 commented on #43
For now I think simply testing if the server runs is enough. Later on as need increases we can improve testing standards.

[2019-01-26 13:55] theSage21 commented on #43
that will catch all syntax errors and so on.

[2019-01-26 17:54] Shivank98 commented on #43
while writing the tests i faced a error, i tried google too but didn't understand it. else it test for other two functions in `server.py` are running `OK`.
[code]

and this give me this error.
[code]

[2019-01-26 18:19] theSage21 commented on #43
can we please stop having code in comments. Just submit a PR and we can discuss things there.

[2019-01-26 18:20] Shivank98 commented on #43
sure sure, my bad

[2019-01-27 13:31] theSage21 opened #70 "Clean up HTML and CSS"
The html in `index.html` has some CSS classes which are note being used. We need to clean it up. that file also has lots of inline style code. That has to be removed.

[2019-01-27 18:05] gauravrock opened #71 "problem with line 20 in server.py while running the server using python server.py"
## some problem on line 20 server.py while running the server using python server.py(it happens sometimes)

![screenshot 2019-01-27 at 12 31 36 am](https://user-images.githubusercontent.com/23530368/51804887-28653d00-228c-11e9-8b8a-3cfdabdd1f57.png)

[2019-01-27 18:34] Shivank98 commented on #71
can you share your folder structure ?

[2019-01-27 18:38] Shivank98 commented on #71
i think it's case of mac. and we need to add `DS_Store` in `.gitignore`.

[2019-01-27 18:54] gauravrock commented on #71
I' ll try to do it @Shivank98. it happens sometimes once it runs but somehow whenever it gets 404 error the next time it gives this error.

[2019-01-27 18:59] Shivank98 commented on #71
yeah try deleting that Ds.. folder for check.

On Mon, Jan 28, 2019, 12:24 AM Gaurav sharma <notifications@github.com
wrote:

[2019-01-28 03:30] theSage21 commented on #70
Sure! Please ask for help here if you need it.

On Mon 28 Jan, 2019, 08:59 Matthew <notifications@github.com wrote:

[2019-01-28 03:51] MattMski commented on #70
Yea I am pretty new to contribution and this is for a university project. So far I've forked and cloned the project. Is there anything else I should know? Should i submit changes to the master branch or another other branch?

[2019-01-28 03:53] theSage21 commented on #70
Changes have to be submitted to the master branch. Your master to our master

On Mon 28 Jan, 2019, 09:21 Matthew <notifications@github.com wrote:

[2019-01-28 03:54] MattMski commented on #70
Alright

[2019-01-28 04:59] soumilk commented on #65
When I run the server.py, it is showing me this,
![screenshot from 2019-01-28 10-21-22](https://user-images.githubusercontent.com/31521503/51815515-66437f00-22e7-11e9-8794-2191017dbf61.png)

Now what to do after this ? I mean how can I see project working

[2019-01-28 05:06] Shivank98 commented on #65
go to https://localhost:8080/questions/1

[2019-01-28 05:54] soumilk commented on #65
Showing an error 404.

![screenshot from 2019-01-28 11-20-43](https://user-images.githubusercontent.com/31521503/51817029-2bdde000-22ef-11e9-9f7f-7d0de4931f28.png)

In terminal
127.0.0.1 - - [28/Jan/2019 11:20:34] "GET /questions/1 HTTP/1.1" 404 742

[2019-01-28 05:58] Shivank98 commented on #65
*question
and it would be appropriate if you ask this question in #71.
this issue Serve other purpose.

[2019-01-28 06:20] soumilk commented on #65
Ok

[2019-01-28 10:42] #71 closed

[2019-01-28 15:06] arnabsinha99 commented on #62
What is `base.html' used for ?

[2019-01-28 15:21] theSage21 commented on #62
Generally it is used to do common things like set the font for the whole
site. If you use things like bootstrap and jquery then those links are put
in the base.

Common navigation bars and footers are put in the base.

On Mon 28 Jan, 2019, 20:36 Arnab Sinha <notifications@github.com wrote:

[2019-01-28 15:24] arnabsinha99 commented on #62
Has it been worked on? I don't seem to find it. @theSage21

[2019-01-28 15:25] gauravrock commented on #70
@theSage21  all the inline style code is to be removed ..is it?? There are 5 places where the inline style is used in index.html!!!

[2019-01-28 15:25] theSage21 commented on #62
Oh no no. You will have to create it

On Mon 28 Jan, 2019, 20:54 Arnab Sinha <notifications@github.com wrote:

[2019-01-28 16:13] arnabsinha99 commented on #71
I am still getting the 404 Not found error. Could anyone whose `server.py` is running, help?

[2019-01-28 16:14] gauravrock commented on #71
share the screenshot @arnabsinha99  please

[2019-01-28 16:17] arnabsinha99 commented on #71
![screenshot 78](https://user-images.githubusercontent.com/29712938/51849733-5444f900-2346-11e9-9fe9-74588fea66e0.png)
![screenshot 79](https://user-images.githubusercontent.com/29712938/51849736-5444f900-2346-11e9-91f0-884b82829e82.png)

[2019-01-28 16:20] gauravrock commented on #71
@arnabsinha99  your server is running. Please enter this URL after running the server.py: http://localhost:8080/question/1

[2019-01-28 16:30] arnabsinha99 commented on #71
alright. that worked thanks!. some more issues I faced are :-

* The "download test cases" is not giving me the test case file

* It is giving the wrong answer for "sum of two numbers" even though my output file is correct.

[2019-01-29 05:58] #65 closed

[2019-01-29 07:34] HeroicHitesh commented on #17
Sorry I was out of town but I looked at above lines of code and to me they don't seem to be CSS code.So i need to write CSS or python I don't understand.

[2019-01-29 07:45] theSage21 commented on #17
you will need to write python code. The CSS files are already written but not accessible (since nobody is serving them). To do that, just like we are serving question input files, we also need to write code to serve static files (which include CSS).

[2019-01-29 07:48] HeroicHitesh commented on #17
Then I don't think I will be able to solve this as I thought this was a css problem.For python I need help.Can you explain the lines of code you have given?

[2019-01-29 09:00] gauravrock opened #76 "only static html file no css"
## ISSUE Template

- [x] This is a
	- Help request
	- Discussion or tutorial wanted
- my issue is why running the command python server.py and then http://localhost:8080/question/1 only shows the static HTML page & not CSS because yesterday it was working fine by doing the same.
- however, I am able to see all the embed CSS in HTML file:///Users/apple/Desktop/project/PyJudge/index.html. but the th

[2019-02-01 15:52] Priyanka-ashok commented on #70
Can i take the issue and work on it ?

[2019-02-01 16:49] Shivank98 commented on #70
sure @Priyanka-ashok. feel free to ask here if you have any doubt. you can also join the telegram group mentioned in README.md for general purpose.

[2019-02-02 13:38] arnabsinha99 commented on #59
@HeroicHitesh Sorry for the delay.. let us continue with this issue.. Do you have any sources which I can refer to learn how to include Python codes in HTML? I use Python 3.6.5. I found this [link](https://www.digi.com/resources/documentation/digidocs/90001537/references/r_python_inside_html.htm?TocPath=Categories%7CWeb%20Access%7C_____2) here but this syntax does not seem to work in VSCode 2015.

[2019-02-02 13:54] theSage21 commented on #59
Why do you want to include Python inside HTML?

[2019-02-02 13:58] arnabsinha99 commented on #59
When we want to print the ranklist consisting of various usernames, I could not get any method other than using a Python for loop inside the HTML code. But then the problem is that how can I use the variables in server.py in the HTML code.

[2019-02-02 14:22] theSage21 commented on #59
Let's not reinvent PHP here. Could you open a PR and let us look at the code?

[2019-02-05 15:31] arnabsinha99 commented on #30
The `%` syntax to include Python code does not seem to work in the `Rankings.html` file. It simply is printing the exact lines of code. What could be the possible reason? @theSage21

[2019-02-05 15:36] theSage21 commented on #30
That only works if you use the template function. Could you open a pr so that I can look at code. Otherwise it's very difficult to guess what could be going wrong

[2019-02-07 13:35] HeroicHitesh opened #79 "Issue to fix #17"
## ISSUE Template

- [ ] This is
	- Feature request
I am trying  to show code to serve css file
- [ ] Description
- [ ] I have applied the appropriate labels for this issue
- [ ] I have provided steps to reproduce the bug (If a bug report)

[2019-02-07 13:49] HeroicHitesh commented on #79
How to delete this issue which I opened mistakenly.

[2019-02-07 19:32] arnabsinha99 commented on #59
`% for name, rank, score in people :`
`<tr>`
`<td>{{name}}</td>`
`<td>{{score}}</td>`
`<td>{{rank}}</td>`
`</tr>`
`% end`

This is the part of the code from `Rankings.html` . First of all, there is no variable such as "people". Second, this code is being printed **as it is** in the browser. I needed help with this issue. Although, I will use template functions only here for using Python code in HT

[2019-02-08 00:35] theSage21 commented on #59
@arnabsinha99 please open a PR. There are so many things that could be going wrong. I need to see the code before saying anything. At the very least post a screenshot of the browser page that is showing this behavior.

[2019-02-08 14:51] theSage21 commented on #17
Apparently this issue is very difficult to solve. Can someone please ask questions regarding the difficulty they are facing? I can help but unless you tell me what you are thinking I cannot.

For example #80 simply makes code changes in a completely different file. @HeroicHitesh why do you expect that code to work? The change needs to be made in the `server.py` file.

[ You need to serve static fi

[2019-02-08 14:56] HeroicHitesh commented on #17
I thought I need to write code and then after merge request it will be added to the server.py file

[2019-02-08 15:00] theSage21 commented on #17
Write the final thing no. No point in us reviewing things twice

On Fri, Feb 8, 2019 at 8:26 PM HeroicHitesh <notifications@github.com>
wrote:

[2019-02-08 16:24] cquark7 commented on #79
@HeroicHitesh You can't delete issues on Github (afaik, only project admins can do that).
https://stackoverflow.com/questions/3081521/how-to-completely-remove-an-issue-from-github

[2019-02-08 16:27] HeroicHitesh commented on #79
Not even I opened the issue?

[2019-02-09 02:02] #79 closed

[2019-02-10 13:33] #17 closed

[2019-02-10 13:38] HeroicHitesh commented on #70
Is this issue resolved or something is needed to be done?

[2019-02-10 13:42] theSage21 commented on #70
it's open. A related merge request is there so I suggest that you take a look at that and see what discussion happened there.

[2019-02-10 14:22] HeroicHitesh commented on #70
I reviewed #74 and except 1 change everything seems to be fine. I don't understand why it is not changed and merged till now.

[2019-02-10 15:33] theSage21 commented on #70
The way CSS is what I wanted to improve. No issues. I'll merge when I get a
chance

On Sun 10 Feb, 2019, 19:52 HeroicHitesh <notifications@github.com wrote:

[2019-02-11 15:06] HeroicHitesh commented on #62
I am taking this issue

[2019-02-18 19:40] MattMski commented on #70
Would it be okay to merge both css files so it's just one css with everything?

[2019-02-19 01:04] theSage21 commented on #70
Definitely! But only if the CSS is used in both html files. Otherwise just
move the common content to one file and keep the unique content in a style
tag

On Tue 19 Feb, 2019, 01:10 Matthew <notifications@github.com wrote:

[2019-02-19 02:38] HeroicHitesh commented on #70
Maybe we can use html and css which is common in all html and css files in 1 base.html template using inline styling or do we need to do it in 2 different template files 1 for html and 1 for css?

[2019-02-19 03:44] theSage21 commented on #70
That is a matter of taste. I usually put it in a separate file so that other people can work on CSS separately and the PRs don't create merge conflicts.

[2019-02-19 04:58] MattMski commented on #70
Well I'm a CS student and I feel that would be better for organization. I'll merge the css files, obviously the unique stuff for each html file will work as well, I will make that work, don't worry. In the end, having a clean HTML file is good and a CSS file to control all the looks.

[2019-02-19 06:57] theSage21 commented on #70
Sure! Go ahead!

[2019-02-20 14:50] Shivank98 commented on #43
@theSage21 i am back. is this issue still on ?
or if i can remember you added tests yourself?

[2019-02-21 07:06] theSage21 commented on #43
This is still on. I haven't written any code I can remember for this

[2019-02-23 13:49] adityabohra007 commented on #70
In  index.html there is an anchor to the "here" that is href="#"

[2019-02-23 14:37] theSage21 commented on #70
Are you referring to [this line](https://github.com/PyJaipur/PyJudge/blob/master/index.html#L42)?

That is a placeholder. When we have something we will put it there. At least that's what it looks like.

A better person to ask would be the person who wrote that. From the [Blame window](https://github.com/PyJaipur/PyJudge/blame/master/index.html#L42) it looks like @rustagishubhi is the one who can

[2019-03-11 04:51] rustagishubhi commented on #70
@adityabohra007 you can replace the # with the link where the criterias are mentioned

[2019-03-13 12:30] ShumailAhmed123 commented on #70
Hi,

Can I contribute to this project? Is there any other issues related to HTML and CSS. I am happy to work on them.

Please let me know.

Thanks

[2019-03-13 12:56] theSage21 commented on #70
Take a look at the issues

On Wed 13 Mar, 2019, 18:00 ShumailAhmed123, <notifications@github.com>
wrote:

[2019-03-13 13:06] ShumailAhmed123 commented on #70
Hi,
@theSage21
When I click on the link. I get this error.

"Whoops! That unsubscribe link isn't valid for your account."

Thanks

[2019-03-13 13:10] theSage21 commented on #70
I'm not sure what link you are clicking on.

Go to the github repo. Look at the issues. If I'm not wrong your typing
this in an issue right now.

Look at the discussion there and open a pull request with your changes in
it.

If you want to clarify something, read the Readme of the project and if
that does not answer your questions type it in the issue here

On Wed 13 Mar, 2019, 18:36 ShumailAhmed1

[2019-03-13 13:35] theSage21 commented on #70
oh now it makes sense. you wanted some other HTML stuff.

#62 #30 and #59 are all related to HTML CSS

[2019-03-29 12:08] theSage21 opened #91 "Fix missing return statement in server file."
I think the missing return statement was missed during review. Someone please add it on [this line](https://github.com/PyJaipur/PyJudge/blob/master/server.py#L30)

[2019-03-29 12:12] arnabsinha99 commented on #91
What should be returned?

[2019-03-29 12:22] theSage21 commented on #91
the redirect function call? I think it works without that also but for the sake of cleanliness I'd like it returned

[2019-03-30 19:45] cquark7 commented on #43
Hey @theSage21, I think it would be better to use `pytest` as our testing framework. What do you think?

[2019-03-31 01:56] theSage21 commented on #43
#68 is already doing that I think

[2019-04-01 07:17] #30 closed

[2019-04-01 07:20] theSage21 opened #93 "Integrate black into our project"
Our project now has some logic code (like the ranking function). Since these functions/computations can be written over multiple lines, code formatting becomes an issue. Different people have different styles of writing the same code.

To make collaboration easier, we don't leave it up to the programmer to select a style. We enforce a style using [Black](https://github.com/ambv/black).

To solve t

[2019-04-01 09:20] rishabhKalakoti commented on #93
#94 : integrated black.

[2019-04-01 12:13] theSage21 opened #96 "Move rankings html to template folder"
The `Rankings.html` file is supposed to be in the `templates` folder and the server has to use it from there.

related to #62

[2019-04-01 12:37] rishabhKalakoti commented on #96
Then, I think we will need to move `index.html` to the `templates` folder too as it is also a part of the template.

[2019-04-02 15:02] theSage21 commented on #96
yes. basically you'll need a template system overhaul

[2019-04-03 02:58] #93 closed

[2019-04-03 04:44] rishabhKalakoti opened #98 "Install pytest in pipenv"
Dependency of pytest module is not present in the Pipfile in branch test. It has to be installed in pipenv if we are using it.

[2019-04-04 04:19] Shivank98 commented on #98
branch 'tests' was created by mistake form me.

[2019-04-04 04:24] rishabhKalakoti commented on #98
Still it will have to be added in the main branch if not installed yet.

[2019-04-04 10:56] rishabhKalakoti commented on #96
made a PR: #99 to handle the issue.

[2019-04-04 14:08] theSage21 commented on #96
instead of commenting here, in your PR description do something like `fixes #96`

[2019-04-04 14:08] theSage21 commented on #96
that way the issue gets automatically linked to the PR

[2019-04-05 03:06] #96 closed

[2019-04-06 13:53] #70 closed

[2019-04-06 19:17] MattMski commented on #70
Is there any other html/css related stuff I could work on?

[2019-04-08 05:48] theSage21 commented on #70
you mean besides the issues that are already open?

[2019-04-08 05:57] theSage21 opened #102 "Database"
Our system needs a database system since if we restart the server right now, all attempt information is lost. The simplest system is to use the [shelve](https://docs.python.org/3.7/library/shelve.html) system provided by python. This would store the data you update on the disk so that the server can be restarted and no information is lost.

You would need to store whatever gets lost whenever the s

[2019-04-08 06:00] theSage21 opened #103 "Contest timings"
There is no concept of contest timings right now.

- Keep record of when the contest is supposed to start and end (maybe store datetime in the database / question set).
- make sure that APIs always follow the timings. For example, if time is up then the check api should no longer work.

[2019-04-08 06:02] theSage21 opened #104 "Home page"
The system needs a home page which describes the judge system and provides answers to common questions.

[2019-04-08 09:35] rishabhKalakoti commented on #102
If i write the following code,
[code]
0 is printed on the terminal when the function executes. It does not append to the list. But u_name is being added to keys.

[2019-04-08 12:55] rishabhKalakoti commented on #76
I think it works fine now and should be closed.

[2019-04-08 16:53] michiboo commented on #104
Hi can I try this issue if there no one taking it?

[2019-04-08 16:58] theSage21 commented on #104
Of course. Please go ahead

On Mon 8 Apr, 2019, 22:23 Micky Yun Chan, <notifications@github.com> wrote:

[2019-04-08 18:13] MattMski commented on #70
Yeah

[2019-04-09 06:05] gauravrock commented on #76
@theSage21 please close this issue!! it works for now

[2019-04-09 06:11] rishabhKalakoti commented on #76
@gauravrock you can close the issue yourself as you are the author.

[2019-04-09 06:13] #76 closed

[2019-04-09 17:32] rishabhKalakoti commented on #103
Can you please elaborate this one? I got some doubts. Like... We will need  a moderator who decides the contest timings. Does a contest introduce new questions? Which are available for scoring during contest and later made public.
Mtlb I don't exactly understand how to get it started.

[2019-04-10 02:37] theSage21 commented on #103
Right now questions are picked up from the filesystem when the server starts. Thus the questions may be attempted as soon as the server starts.

This issue needs to implement some sort of time based system that can have **active/inactive** states.

For example, you might want to say that the contest runs from 12:00 Saturday to 14:00 Saturday. Then you can start receiving participants at 11:00 Satu

[2019-04-10 03:54] #102 closed

[2019-04-10 03:59] theSage21 opened #106 "Multiple contests"
Right now our system provides the ability to host a single contest at a time. We need to include the ability to host multiple contests at the same time.

For example, one contest can be a simple practice contest so that people can see how the system works. Then the real contest can start based on the time setting implementation for #103

[2019-04-10 04:00] theSage21 opened #107 "Multiple contest UI design"
The UI will need to account for the fact that multiple contests can be hosted at the same time.

Thus #104 will need to change to show multiple contests somehow.

[2019-04-10 17:34] rishabhKalakoti commented on #91
Time to close this one :)

[2019-04-11 03:24] #91 closed

[2019-04-11 08:44] #62 closed

[2019-04-11 08:44] #98 closed

[2019-04-11 09:02] theSage21 opened #109 "Move pre-commit and black to dev dependencies"
Right now, black and pre-commit are installed as normal dependencies for the project. We need to move them to the dev section of the dependencies. See [pipenv docs](https://pipenv.readthedocs.io/en/latest/) for more info

[2019-04-11 10:16] theSage21 opened #110 "Pip installable project"
It would be nice to be able to pip install this project.

[2019-04-11 18:55] rishabhKalakoti commented on #110
isn't this one a gfi?

[2019-04-12 04:37] theSage21 commented on #110
I'm not sure. If someone reads the docs it could be a GFI but people attempting this don't usually read the docs so it might need some hand holding

[2019-04-12 09:53] #43 closed

[2019-04-14 04:06] Shivank98 commented on #110
I want to work on it.

[2019-04-14 06:05] theSage21 commented on #110
Yes. This project needs to be pip installable completely. That's all.

[2019-04-17 09:05] Shivank98 commented on #110
https://pypi.org/project/Pjudge/
*  couldn't take PyJudge as it was already in use.
*  only metafiles that were created with wheel are downloading.

any points that i missed or i keep doing it on my own.

[2019-04-17 09:41] theSage21 commented on #110
umm, that name conflicts too much with PyJudge. Maybe call it something like hukum/maharaj . Something rajasthani and about judging

about the setup, I recollect needing to specify where the HTML etc was in the setup file. Take a look at [at the project](https://github.com/theSage21/openJudge/blob/master/setup.py#L24)

I can't seem to find the relevant docs. maybe there's a better way of doing thi

[2019-05-09 15:31] #106 closed

[2019-05-09 15:31] #107 closed

[2019-05-10 13:28] rishabhKalakoti commented on #59
For this issue can we just have one overall ranking and individual contest rankings for now?

[2019-05-10 13:31] theSage21 commented on #59
this actually meant something like "rank by efficiency", "rank by points", "rank by speed of solving" etc. What you're talking about is a contest Leaderboard and an overall leaderboard right?

[2019-05-10 13:32] rishabhKalakoti commented on #59
@theSage21 Okay. Yes. That was what I meant.

[2019-05-11 00:31] rishabhKalakoti commented on #110
Is this one done?
The project does install on `pip install Pjudge`, I just don't know how to use it with pip though.

[2019-05-11 02:06] theSage21 commented on #110
nope. A few things need to be done for this to be finished:

- [x] pip install
- [ ] pip install should supply the html files as well
- [ ] project is runnable via `python -m <project>`

[2019-05-11 14:21] rishabhKalakoti opened #114 "404 handler"
Make a template and handler for requests with invalid urls and return that template whenever FileNotFound is invoked.

[2019-05-11 14:21] rishabhKalakoti commented on #114
@theSage21 plz add `gfi` label to this one.

[2019-05-11 14:34] rishabhKalakoti opened #115 "Proper question statement and support"
- [ ] Rewrite statements of problems 1 and 2
- [ ] Change problems 2-6 as they are a copies of problems 1 and 2
- [ ] Add more questions with test cases

[2019-05-11 16:18] theSage21 commented on #114
you can refer to [this section of the bottle docs](https://bottlepy.org/docs/dev/tutorial.html#error-pages) to solve this issue

[2019-05-11 16:19] #103 closed

[2019-05-15 13:56] theSage21 opened #117 "Session support"
There are two problems with the system right now.

1. A person should not have to insert their username again and again
2. If someone solves a question, they have no way of automatically proving that they solved it (someone else could have submitted on their name)

A simple/bare bones solution for this is to have something called a session:

- ask a person to register/ provide two pieces of inform

[2019-05-15 14:09] theSage21 opened #118 "Use sqlite as a database"
After completing #117 we will have enough amount of data that we need a system to take care of it.

We can use [peewee](http://docs.peewee-orm.com/en/latest/index.html) to handle out database.

Things to put in the database:

- questions
- contests
- users
- scores
- session information

[2019-05-15 14:09] theSage21 opened #119 "Interface to add questions via website"
Questions are added via the file system right now. We need a mechanism to be able to add them via the web interface.

roadmap for this:

- finish #117
- finish #102
- let anyone add questions. Each question has a "added by" field
- let anyone create contests by selecting questions. Each contest has a "host"
- Host has full control over contest settings like start/end time, title, questions to be i

[2019-05-16 07:41] rishabhKalakoti commented on #110
@Shivank98 plz take this one when you are done with exams :)
The project has been registered with your account for pip.

[2019-05-16 12:43] #114 closed

[2019-05-16 12:48] #117 closed

[2019-05-16 12:50] theSage21 opened #123 "Raise error in proper places"
It might be a good idea to use `abort(404, <reason>)` in some places like

- https://github.com/PyJaipur/PyJudge/blob/e3debe1e15447a6faac9d509e7ad5283731fa2c0/server.py#L89
- https://github.com/PyJaipur/PyJudge/blob/e3debe1e15447a6faac9d509e7ad5283731fa2c0/server.py#L102

some places however don't require the error. For example this

- https://github.com/PyJaipur/PyJudge/blob/e3debe1e15447a6faac9d

[2019-05-16 12:54] theSage21 opened #124 "Use a more common template system"
While bottle provides a simple template system, almost everyone coming to this project has been already exposed to some other template system. This causes the misuse of bottle's own template system. [Using import instead of rebase](https://github.com/PyJaipur/PyJudge/blob/e3debe1e15447a6faac9d509e7ad5283731fa2c0/views/error.html#L1) for example is a common mistake.

We can instead use the more com

[2019-05-16 12:57] theSage21 opened #125 "Continuous testing needs to be added"
Continuous testing has to be added to the system. Many vendors are present:

- https://travis-ci.org/
- https://circleci.com/

Use some CI system and perform the following:

 - code format check with [black](https://github.com/python/black)
- run tests (with pytest maybe)?

[2019-05-16 13:58] rishabhKalakoti commented on #115
This one should also a GFI I guess

[2019-05-16 14:00] theSage21 commented on #115
ah. good catch :+1:

I had forgotten about this and thought this was about markdown based question statements with support reading material etc

[2019-05-19 06:20] rishabhKalakoti commented on #104
This can be added to the present `home.html`, that already has login/ register form.
TODO:
- [ ] add description
- [ ] faq
- [ ] some link to PyJaipur could be nice

[2019-05-20 14:07] rishabhKalakoti opened #127 "User stats/ profile"
Statistics based on the submissions done by user.
Features:
* Submission History
* Accuracy (Correct Attempts/ Total submissions)
* Use calendar/ graph to show the frequency of submissions
Anything else that comes to mind, please add in comments

[2019-05-21 07:40] rishabhKalakoti opened #128 "problem status in contest"
Show the status of a problem in a contest i.e. unattempted, attempted, solved for a logged in user.
For implementation, edit `question` data structure sent to `question.html` by having it store a list of (question, status) pair. Status can be retrieved by querying the database. After that, configure `question.html` accordingly

Pre-requisite: #118

[2019-05-21 17:32] Raul9595 commented on #127
Can I work on this ?

[2019-05-22 02:45] rishabhKalakoti commented on #127
Sure @Raul9595 go on.

[2019-05-22 07:35] rishabhKalakoti opened #129 "Reinstall black"
Black's repository has been moved from https://github.com/ambv/black to https://github.com/python/black due to which (maybe) it is no more working before committing.
Follow #93 on the installation instructions.
You will have to change the repository of black in `.pre-commit-config.yaml` file and then run `pre-commit install`

[2019-05-22 07:36] rishabhKalakoti commented on #129
#109 can also be handled in the same PR

[2019-05-23 03:47] #118 closed

[2019-05-24 08:20] jatin56 opened #132 "Code Documentaion"
The code for the application is not properly documented. New members wanting to
contribute to the Project may find Difficult to understand the code and may have to spend more
time to understand the code rather than improving it.

Properly Documenting the code will be useful for people  who want to contribute or
learn from the code

[2019-05-24 13:13] theSage21 commented on #132
A few guidelines for this issue:

- Use [sphinx](https://www.sphinx-doc.org/en/stable/)
- don't add noise. Add meaningful docstrings.

For example, this is a useless docstring:

[code]

While I understand that your IDE might be doing this automatically for you please avoid the temptation to follow whatever your IDE tells you to do. A useful docstring/comment would be:

[code]

Comments like the fo

[2019-05-25 07:17] soumilk commented on #123
I would like to take this issue,
basically in this, instead of a statement "contest does not exist", we should raise an abort 404 page error ?

[2019-05-25 09:51] theSage21 commented on #123
that's the basic idea. you will need to find other places in the code where this has to be done.

[2019-05-25 19:35] Raul9595 commented on #119
Can I work on this enhancement ?

[2019-05-26 03:12] theSage21 commented on #119
sure sure. no need to ask please go ahead and open a PR :+1:

[2019-05-26 06:18] Raul9595 commented on #119
So when a user is going to upload the question, he will uploading three sets of files which are the input, output and statement.
Now, the existing model for the questions are
[code]
Presently, the questions are being referenced from a folder. Should I continue with the same or
use the database to store the entire contents of the file the user has uploaded ?

[2019-05-26 06:22] soumilk commented on #123
ohk ... i am on it

[2019-05-26 07:02] theSage21 commented on #119
I'll say 2 files for I/o then one text field to capture statement.

Let's put everything in the database. Sqlite can handle up to 1tb easily

[2019-05-26 08:52] soumilk commented on #115
Can I replace these questions with the questions from other coding platforms ?

[2019-05-26 09:04] soumilk commented on #123
I have gone through the server.py and it seems that it has raised abort(404) at certain places already, couldn't find places which require error. Help required .
And I thought to add a cool looking error page 404. Have a look, we can add it to the project.

![Screenshot from 2019-05-26 14-29-27](https://user-images.githubusercontent.com/31521503/58379600-500eac80-7fc3-11e9-9494-55e64a6d6829.png)

[2019-05-26 10:26] theSage21 commented on #123
well, there are a few places where we are returning the string "contest inactive" or something like that. I was thinking if we could turn that into these pages it would be nice.

As for the 404 page it does look cool :heart_eyes: but you'll need to accomodate *ALL* error codes and not just 404 since that template gets called for *ALL* errors

[2019-05-26 10:27] theSage21 commented on #115
maybe we should close this since it's no longer relevant. Let's focus on getting the question via web interface thing up and running first.

[2019-05-26 10:27] #115 closed

[2019-05-26 14:35] rishabhKalakoti commented on #115
@theSage21 👍

[2019-05-28 06:00] Megha-Pathak commented on #127
Can I help with this issue?

[2019-05-28 06:05] rishabhKalakoti commented on #127
I think this one is already done in #131 You can take up another one :)

[2019-05-28 06:05] #127 closed

[2019-06-01 04:40] #125 closed

[2019-06-07 10:08] rohitjain00 commented on #124
Yes or I think we should move the entire front end on a front end based framework like angular Js and use server as an API for sending and receiving data? I think this is more efficient tan retrieving whole web pages from the server.

[2019-06-07 10:48] theSage21 commented on #124
It's not better than the existing system in any way so far. Both approaches are equivalent. If you would like to take that approach I suggest using [svelte](https://svelte.dev/) as the UI framework.

[2019-06-07 11:33] rohitjain00 commented on #124
Is there any specific reason to use Svelte?

[2019-06-07 11:49] theSage21 commented on #124
- it's smaller
- it's cleaner while writing code
- it's not popular so you have to actually learn it to use it instead of copy pasting from some blog :smile:

[2019-06-07 14:08] theSage21 commented on #124
I'd recommend going through <https://www.youtube.com/watch?v=AdNJ3fydeao> to understand how svelte might be superior to commonplace things like React/Vue/Angular. To see a simple benchmark I'd recommend [this one](https://www.freecodecamp.org/news/a-realworld-comparison-of-front-end-frameworks-with-benchmarks-2019-update-4be0d3c78075/)

[2020-01-15 16:15] dhwani-08 commented on #104
can you please elaborate how we have to add above TODOs

[2020-01-15 16:17] theSage21 commented on #104
The mentioned things need to be added to https://github.com/PyJaipur/PyJudge/blob/master/views/home.html

[2020-01-26 15:28] Shivank98 commented on #110
I need some help with it. I got the point that we need to mention the extra files like HTML ins setup. I haven't look too deeply but [poetry](https://python-poetry.org/) seems to do that work for us( let me know if better ways are available ). what I need help in how we can run the project with `python -m <project>`. I can think of writing some scripts but that doesn't seems to be right way. @theS

[2020-01-26 16:21] theSage21 commented on #110
1. Poetry is awesome!
2. I usually write a `__main__.py` file which gets called when we do `python -m project`.

Could you please open a PR for what you've already done? That way we can have more productive discussions.